<div class="row">
  <div class="col-lg-12">
    <mat-card class="generals">
      <mat-card-title>
        <h1>General information</h1>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content>
        <div>
          <strong>Created at: </strong>
          <span>{{ survey.createdAt | date: 'long' }}</span>
        </div>
        <div>
          <strong>Public statistics: </strong>
          <span>{{ survey.publicStatistics ? 'yes' : 'no' }}</span>
        </div>
        <div>
          <strong>Questions amount: </strong>
          <span>{{ survey.questions.length }}</span>
        </div>
        <div>
          <strong>Maximum submissions: </strong>
          <span>{{ survey.maximumSubmissions || 'Not defined' }}</span>
        </div>
        <div>
          <strong>Submittable from: </strong>
          <span>
            {{ (survey.submittableFrom | date: 'long') || 'Not defined' }}
          </span>
        </div>
        <div>
          <strong>Submittable to: </strong>
          <span>
            {{ (survey.submittableTo | date: 'long') || 'Not defined' }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <form
    [formGroup]="formGroup"
    [autocomplete]="'off'"
    (submit)="onFormSubmitHandler()"
    class="col-lg-12"
  >
    <mat-card class="questions">
      <mat-card-title [ngSwitch]="survey.displayFormat">
        <ng-container *ngSwitchCase="ESurveyDisplayFormat.AllAtOnce">
          <h1>Answer questions</h1>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <h1>
            Question {{ currentQuestionIndex + 1 }} of
            {{ survey.questions.length }}
          </h1>
          <h1 *ngIf="questionTimer$ | async as timeLeft">
            {{ timeLeft | number: '1.2-2' }}s
          </h1>
        </ng-container>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content>
        <ng-container
          *ngFor="let question of survey.questions; let questionIndex = index"
        >
          <ng-container
            *ngIf="
              questionIndex === currentQuestionIndex ||
              survey.displayFormat === ESurveyDisplayFormat.AllAtOnce
            "
          >
            <ng-container
              *ngTemplateOutlet="
                singleQuestionTemplate;
                context: { $implicit: question }
              "
            >
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-template #singleQuestionTemplate let-question>
          <ng-container [ngSwitch]="question.metadata.type">
            <ng-container *ngSwitchCase="EQuestionMetadataType.PlainText">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <input
                  type="text"
                  [formControlName]="question.identifier"
                  matInput
                />
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="EQuestionMetadataType.EmailText">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <input
                  type="text"
                  [formControlName]="question.identifier"
                  matInput
                />
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="EQuestionMetadataType.AreaText">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <textarea
                  [formControlName]="question.identifier"
                  matInput
                ></textarea>
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="EQuestionMetadataType.DatePicker">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <input
                  matInput
                  [formControlName]="question.identifier"
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="EQuestionMetadataType.StandartNumber">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <input
                  type="number"
                  [formControlName]="question.identifier"
                  matInput
                />
              </mat-form-field>
            </ng-container>
            <ng-container
              *ngSwitchCase="EQuestionMetadataType.SingleSelectRadio"
            >
              <label>
                {{ question.label }}{{ question.isRequired ? ' *' : '' }}
              </label>
              <mat-radio-group
                color="primary"
                [formControlName]="question.identifier"
              >
                <mat-radio-button
                  class="w-100"
                  [value]="answer"
                  *ngFor="let answer of question.metadata.availableValues"
                >
                  {{ answer }}
                </mat-radio-button>
              </mat-radio-group>
            </ng-container>
            <ng-container
              *ngSwitchCase="EQuestionMetadataType.SingleSelectCheckbox"
            >
              <label>
                {{ question.label }}{{ question.isRequired ? ' *' : '' }}
              </label>
              <section class="mat-checkbox-section">
                <mat-checkbox
                  color="primary"
                  class="w-100"
                  [checked]="isSingleSelectCheckboxChecked(question, answer)"
                  (change)="onSingleSelectCheckboxValueChange(question, answer)"
                  *ngFor="let answer of question.metadata.availableValues"
                >
                  {{ answer }}
                </mat-checkbox>
              </section>
            </ng-container>
            <ng-container
              *ngSwitchCase="EQuestionMetadataType.SingleSelectDropdown"
            >
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <mat-select [formControlName]="question.identifier">
                  <mat-option
                    [value]="answer"
                    *ngFor="let answer of question.metadata.availableValues"
                  >
                    {{ answer }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container
              *ngSwitchCase="EQuestionMetadataType.MultiSelectCheckbox"
            >
              <label>
                {{ question.label }}{{ question.isRequired ? ' *' : '' }}
              </label>
              <section class="mat-checkbox-section">
                <mat-checkbox
                  color="primary"
                  class="w-100"
                  [checked]="isMultiSelectCheckboxChecked(question, answer)"
                  (change)="onMultiSelectCheckboxValueChange(question, answer)"
                  *ngFor="let answer of question.metadata.availableValues"
                >
                  {{ answer }}
                </mat-checkbox>
              </section>
            </ng-container>
            <ng-container
              *ngSwitchCase="EQuestionMetadataType.MultiSelectDropdown"
            >
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ question.label }}</mat-label>
                <mat-select multiple [formControlName]="question.identifier">
                  <mat-option
                    [value]="answer"
                    *ngFor="let answer of question.metadata.availableValues"
                  >
                    {{ answer }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
              Question cannot be rendered
            </ng-container>
          </ng-container>
        </ng-template>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <ng-container [ngSwitch]="survey.displayFormat">
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.AllAtOnce">
            <ng-container
              *ngTemplateOutlet="allAtOnceActionsTemplate"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.SingleRestricted">
            <ng-container
              *ngTemplateOutlet="oneByOneActionsTemplate"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.SingleUnrestricted">
            <ng-container
              *ngTemplateOutlet="oneByOneActionsTemplate"
            ></ng-container>
          </ng-container>
        </ng-container>

        <ng-template #allAtOnceActionsTemplate>
          <button
            type="submit"
            mat-button
            color="primary"
            [disabled]="formGroup.invalid"
          >
            Submit
          </button>
          <button
            type="button"
            mat-button
            color="warn"
            (click)="navigateBack()"
          >
            Cancel
          </button>
        </ng-template>

        <ng-template #oneByOneActionsTemplate>
          <button
            type="submit"
            mat-button
            [disabled]="
              formGroup.invalid ||
              currentQuestionIndex !== survey.questions.length - 1
            "
            color="primary"
          >
            Submit
          </button>
          <button
            type="button"
            mat-button
            [disabled]="
              currentQuestionIndex === 0 ||
              survey.displayFormat === ESurveyDisplayFormat.SingleRestricted
            "
            (click)="navigatePreviousQuestion()"
          >
            Previous
          </button>
          <button
            type="button"
            mat-button
            [disabled]="
              formGroup.controls[currentQuestionIdentifier].invalid ||
              currentQuestionIndex === survey.questions.length - 1
            "
            (click)="navigateNextQuestion()"
          >
            Next
          </button>
          <button
            type="button"
            mat-button
            color="warn"
            (click)="navigateBack()"
          >
            Cancel
          </button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
