mat-card-content {
  padding-top: 16px;
  margin-bottom: 0;
}

mat-card.generals {
  margin-bottom: 60px;

  div {
    display: flex;

    span,
    strong {
      width: 100%;
    }
  }
}

mat-card-actions {
  display: flex;

  button {
    width: 100%;
  }
}
