<div class="row">
  <div class="col-lg-12">
    <mat-card class="generals">
      <mat-card-header>
        <mat-card-title>
          <h1>General information</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <div>
          <strong>Created at: </strong>
          <span>{{ survey.createdAt | date }}</span>
        </div>
        <div>
          <strong>Public statistics: </strong>
          <span>{{ survey.publicStatistics ? 'yes' : 'no' }}</span>
        </div>
        <div>
          <strong>Questions amount: </strong>
          <span>{{ survey.questions.length }}</span>
        </div>
        <div>
          <strong>Maximum submissions: </strong>
          <span>{{ survey.maximumSubmissions || 'Not defined' }}</span>
        </div>
        <div>
          <strong>Submittable from: </strong>
          <span>{{ (survey.submittableFrom | date) || 'Not defined' }}</span>
        </div>
        <div>
          <strong>Submittable to: </strong>
          <span>{{ (survey.submittableTo | date) || 'Not defined' }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <form
    [formGroup]="formGroup"
    (submit)="onFormSubmitHandler()"
    class="col-lg-12"
  >
    <mat-card class="questions">
      <mat-card-header>
        <mat-card-title [ngSwitch]="survey.displayFormat">
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.AllAtOnce">
            <h1>Answer questions</h1>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <h1>
              Question {{ currentQuestionIndex + 1 }} of
              {{ survey.questions.length }}
            </h1>
          </ng-container>
        </mat-card-title>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <ng-container
          *ngFor="let question of survey.questions; let questionIndex = index"
        >
          <ng-container
            *ngIf="
              questionIndex === currentQuestionIndex ||
              survey.displayFormat === ESurveyDisplayFormat.AllAtOnce
            "
          >
            <ng-container
              *ngTemplateOutlet="
                singleQuestionTemplate;
                context: { $implicit: question }
              "
            >
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- TODO: Render question depending on metadata type -->
        <ng-template #singleQuestionTemplate let-question>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{ question.label }}</mat-label>
            <input [formControlName]="question.identifier" matInput />
          </mat-form-field>
        </ng-template>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <ng-container [ngSwitch]="survey.displayFormat">
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.AllAtOnce">
            <ng-container
              *ngTemplateOutlet="allAtOnceActionsTemplate"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.SingleRestricted">
            <ng-container
              *ngTemplateOutlet="oneByOneActionsTemplate"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="ESurveyDisplayFormat.SingleUnrestricted">
            <ng-container
              *ngTemplateOutlet="oneByOneActionsTemplate"
            ></ng-container>
          </ng-container>
        </ng-container>

        <ng-template #allAtOnceActionsTemplate>
          <button
            type="submit"
            mat-button
            color="primary"
            [disabled]="formGroup.invalid"
          >
            Submit
          </button>
          <button
            type="button"
            mat-button
            color="warn"
            (click)="navigateBack()"
          >
            Cancel
          </button>
        </ng-template>

        <ng-template #oneByOneActionsTemplate>
          <button
            type="submit"
            mat-button
            [disabled]="
              formGroup.invalid ||
              currentQuestionIndex !== survey.questions.length - 1
            "
            color="primary"
          >
            Submit
          </button>
          <button
            type="button"
            mat-button
            [disabled]="
              currentQuestionIndex === 0 ||
              survey.displayFormat === ESurveyDisplayFormat.SingleRestricted
            "
            (click)="currentQuestionIndex = currentQuestionIndex - 1"
          >
            Previous
          </button>
          <button
            type="button"
            mat-button
            [disabled]="
              formGroup.controls[currentQuestionIdentifier].invalid ||
              currentQuestionIndex === survey.questions.length - 1
            "
            (click)="currentQuestionIndex = currentQuestionIndex + 1"
          >
            Next
          </button>
          <button
            type="button"
            mat-button
            color="warn"
            (click)="navigateBack()"
          >
            Cancel
          </button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
