#wrapper {
  background: #3f51b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  color: white;

  h1 {
    font-size: 150px;
    height: 70px;
  }

  a {
    color: black;
    background: white;
    margin-top: 20px;
  }
}
