<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <mat-card (click)="navigateGenerate()">
          <mat-icon>settings</mat-icon>
          <h1>Generate</h1>
          <p>Creating new survey</p>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card (click)="navigateComplete()">
          <mat-icon>assignment</mat-icon>
          <h1>Complete</h1>
          <p>Filling out created survey</p>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card (click)="navigateResults()">
          <mat-icon>score</mat-icon>
          <h1>Results</h1>
          <p>Results of generated survey</p>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card (click)="navigateArchive()">
          <mat-icon>archive</mat-icon>
          <h1>Archive</h1>
          <p>History of completed survey</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
