<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <mat-card (click)="navigateContent('generate')">
          <mat-icon>settings</mat-icon>
          <h1>Generate</h1>
          <p>Creating new survey</p>
        </mat-card>
      </div>
      <div class="col-sm-6 col-md-3">
        <mat-card (click)="navigateContent('complete')">
          <mat-icon>assignment</mat-icon>
          <h1>Complete</h1>
          <p>Filling out created survey</p>
        </mat-card>
      </div>
      <div class="col-sm-6 col-md-3">
        <mat-card (click)="navigateContent('results')">
          <mat-icon>score</mat-icon>
          <h1>Results</h1>
          <p>Results of generated survey</p>
        </mat-card>
      </div>
      <div class="col-sm-6 col-md-3">
        <mat-card (click)="navigateContent('archive')">
          <mat-icon>archive</mat-icon>
          <h1>Archive</h1>
          <p>History of completed survey</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
